<!doctype html>
<html lang="es">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="generator" content="LibreOffice 4.2.8.2 (Linux)">
    <meta name="created" content="0;0">
    <meta name="changed" content="0;0">

    <style type="text/css">
        body,div,table,thead,tbody,tfoot,tr,th,td,p {
            font-family: "Arial" !important;
            font-size: x-small;
            -webkit-print-color-adjust: exact;
            padding: 0 !important;
        }        
    </style>
    <link rel="stylesheet" href="<%= publicPath %>/styles/odx/font-awesome.css">
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
</head>

<body text="#000000">
    <table cellspacing="0" border="0" style="margin-top: -45px;">
        <colgroup width="89"></colgroup>
        <colgroup width="118"></colgroup>
        <colgroup width="91"></colgroup>
        <colgroup width="65"></colgroup>
        <colgroup width="104"></colgroup>
        <colgroup width="86"></colgroup>
        <colgroup width="124"></colgroup>
        <colgroup width="86"></colgroup>
        <colgroup width="76"></colgroup>
        <colgroup width="77"></colgroup>
        <colgroup width="180"></colgroup>
        <tbody>
            <tr>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    colspan="11" rowspan="5" height="92" align="right" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br>
                        <img src="<%= publicPath %>/images/odx/ODT_TEC.png" width="230" height="58" hspace="21" vspace="9"
                            style="margin-top: 29px;/* margin-left: 136px; */">
                    </font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
            </tr>
            <tr>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
            </tr>
            <tr>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
            </tr>
            <tr>
                <td style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
                <td style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff"
                    align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td colspan="1" height="15" align="right" valign="bottom" bgcolor="#FFFFFF"><b>
                        <font size="3">T&eacute;cnico:</font>
                    </b></td>
                <td style="border-radius: 10px;border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000;"
                    colspan="2" align="center" valign="bottom" bgcolor="#FFFFFF"><b>
                        <font size="2">
                            <%= odx.technicalUser.name %><br>
                        </font>
                    </b></td>
                <td colspan="2" height="15" align="right" valign="bottom" bgcolor="#FFFFFF"><b>
                        <font size="3">Emisor:</font>
                    </b></td>
                <td style="border-radius: 10px;border-top: 1px solid #000000;border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000;"
                    colspan="3" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <font size="2">
                        <br><%= odx.createdBy %>
                    </font>
                </td>
                <td colspan="1" align="right" valign="bottom" bgcolor="#FFFFFF"><b>
                        <font size="3">Folio:</font>
                    </b></td>
                <td style="border-radius: 10px;border-top: 1px solid #000000;border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000;"
                    colspan="2" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <font size="2">#<%= odx.folio %><br></font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="40" align="center" valign="middle" bgcolor="#FFFFFF">

                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="1" height="15" align="left" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="2">
                            Fecha de Servicio:
                        </font>
                    </b>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td colspan="1" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="2">
                            Hr. de inicio:
                        </font>
                    </b>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td colspan="1" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="2">
                            Hr. de termino:
                        </font>
                    </b>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td align="center" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="2">
                            No. de Cliente:
                        </font>
                    </b>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td colspan="1.5" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="2">
                            Tipo de Cliente:
                        </font>
                    </b>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td colspan="1" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="2">
                            Fecha de Solicitud:
                        </font>
                    </b>
                </td>
            </tr>
            <tr>
                <td style="border-radius: 5px;border-bottom: 1px solid #000000;border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                    colspan="1" height="18" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <font size="2">
                        <%= odx.startedAtDate %>
                    </font>
                </td>
                <td colspan="1" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td style="
                border-bottom: 1px solid;
                border-top:  1px solid;
                border-left: 1px solid;
                border-right: 1px solid;
                border-radius: 5px;
                " align="center" valign="bottom" bgcolor="#FFFFFF">
                    <font size="2"><br>
                        <%= odx.startedAtTime %>
                    </font>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td style="border-radius: 5px;border-top: 1px solid;border-bottom: 1px solid #000000;border-right: 1px solid #000000;border-left: 1px solid;"
                    align="center" valign="bottom" bgcolor="#FFFFFF">
                    <font size="2"><br>
                        <%= odx.finishedAt %>
                    </font>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td style="border-radius: 5px;border-top: 1px solid;border-bottom: 1px solid #000000;border-right: 1px solid #000000;border-left: 1px solid;"
                    align="center" valign="bottom" bgcolor="#FFFFFF">
                    <font size="2"><br>
                        <%= client.folio %>
                    </font>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td style="border-radius: 5px;border-top: 1px solid;border-bottom: 1px solid #000000;border-right: 1px solid #000000;border-left: 1px solid;"
                    colspan="1" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <font size="2">
                        <br><%= account.type.name %>
                    </font>
                </td>
                <td colspan="1" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                </td>
                <td style="border-radius: 5px;border-top: 1px solid;border-bottom: 1px solid #000000;border-right: 1px solid #000000;border-left: 1px solid;"
                    align="center" valign="bottom" bgcolor="#FFFFFF" sdnum="1033;1033;M/D/YYYY">
                    <font size="2">
                        <br><%= odx.createdAt %>
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2" height="8" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Cambio:
                    </font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    colspan="2" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <%= odx.changeType.name %>
                    </font>
                </td>
                <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Reubicaci&oacute;n:
                    </font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000;border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                    colspan="2" aling="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <br><%= odx.relocationType.name %>
                    </font>
                </td>
                <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Entrega:
                    </font>
                </td>
                <td style="border-radius: 5px;border-left: 1px solid; border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-right: 1px solid #000000;"
                    colspan="1" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <%= odx.deliveryType.name %>
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF"> </td>
            </tr>
            <tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2" height="8" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Revisi&oacute;n:
                    </font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    colspan="2" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <% if(odx.statusValue === 'reviewed') { %>Si<% } else { %>No<% } %>
                    </font>
                </td>
                <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Cableado:
                    </font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000;border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                    colspan="2" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <br><%= odx.cablingType.name %>
                    </font>
                </td>
                <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Mov. Antena:
                    </font>
                </td>
                <td style="border-radius: 5px;border-left: 1px solid; border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-right: 1px solid #000000;"
                    colspan="1" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <%= odx.antennaMovement %>
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF"> </td>
            </tr>
            <tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2" height="20" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        OTRO (Especificar):
                    </font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid;"
                    colspan="3" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <br><%= odx.other %>
                    </font>
                </td>
                <td colspan="3" height="20" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Especificar equipo recolectado:
                    </font>
                </td>
                <td style="border-radius: 5px;border-top:1px solid; border-left: 1px solid; border-right: 1px solid #000000; border-bottom: 1px solid;"
                    colspan="3" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <br><%= odx.installedEquipment %>
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">

                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-left: 1px solid #000000;color: white;"
                    colspan="5" height="30" align="center" valign="middle" bgcolor="#000000">
                    <font size="2" style="font-weight: bold">
                        Comentarios de Inicio:
                    </font>
                </td>
                <td style="color: white;" colspan="1" height="20" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="1"></font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-left: 1px solid #000000;background: #000000;color: white;"
                    colspan="5" height="30" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Comentarios de Cierre:
                    </font>
                </td>
            </tr>
            <tr>
                <td style="border-radius: 5px;border-top: 1px solid #000000;border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;/* background: #000000; *//* color: white; */"
                    colspan="5" rowspan="4" height="50" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2">
                        <br><%= odx.comments %>
                    </font>
                </td>
                <td colspan="1" rowspan="4" height="40" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><br></font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000;border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;/* background: #000000; *//* color: white; */"
                    colspan="5" rowspan="4" height="50" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2">
                        <br><%= odx.comments %>
                    </font>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="/* border-top: 1px solid #000000; *//* border-bottom: 1px solid #000000; *//* border-left: 1px solid #000000; *//* border-right: 1px solid #000000; *//* background: #000000; *//* color: white; */"
                    colspan="11" rowspan="4" height="40" align="center" valign="middle" bgcolor="#FFFFFF">

                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="/* border-top: 1px solid #000000; */ border-left: 1px solid #000000; border-right: 1px solid #000000;background: #000000;color: white;"
                    colspan="11" height="18" align="center" valign="middle" bgcolor="#FFFFFF"><b>
                        <font size="3">DATOS DEL
                            CLIENTE</font>
                    </b></td>
                <td align="left" valign="bottom" bgcolor="#FFFFFF">
                    <font color="#FFFFFF"><br></font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="5" height="15" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Nombre del Contacto:</b></font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-right: 1px solid #000000;border-left: 1px solid;border-bottom: 1px solid;"
                    colspan="6" height="30" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2">&nbsp;<%= client.name %></font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="5" height="15" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Nombre del Representante Legal:</b></font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-right: 1px solid #000000;border-left: 1px solid;border-bottom: 1px solid;"
                    colspan="6" height="30" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><%= client.businessData.businessName %></font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2" height="15" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Identificaci&oacute;n:</b></font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-right: 1px solid #000000;border-left: 1px solid;border-bottom: 1px solid;"
                    colspan="3" height="30" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><%= client.identification %></font>
                </td>
                <td colspan="3" height="15" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Correo E:</b></font>
                </td>
                <td style="border-radius: 5px;border-top: 1px solid #000000; border-right: 1px solid #000000;border-left: 1px solid;border-bottom: 1px solid;"
                    colspan="3" height="30" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><%= client.email %></font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;background: #000000;     color: white;"
                    colspan="11" height="18" align="center" valign="middle" bgcolor="#FFFFFF"><b>
                        <font size="3">DOMICILIO DE
                            SERVICIO</font>
                    </b></td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="1" height="10" valign="middle" align="center" bgcolor="#FFFFFF">
                    <font size="2"><b>Calle:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="2" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2"><b><%= account.address.street %></b></font>
                </td>
                <td colspan="1" valign="middle" align="center" bgcolor="#FFFFFF">
                    <font size="2"><b>No. Ext:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="1" valign="middle" align="center" bgcolor="#FFFFFF" height="30">
                    <font size="2"><b><%= account.address.outdoorNumber %></b></font>
                </td>
                <td colspan="1" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>No. Int:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="1" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2"><b><%= account.address.interiorNumber %></b></font>
                </td>
                <td colspan="1" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Col:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="1" align="center" valign="middle" bgcolor="#FFFFFF" height="30">
                    <font size="2"><b><%= account.address.extraDetails.name %></b></font>
                </td>
                <td colspan="1" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>CP:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="1" align="center" valign="middle" bgcolor="#FFFFFF" height="30" width="50px">
                    <font size="2"><b><%= account.address.zipCode %></b></font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2" height="15" valign="middle" align="center" bgcolor="#FFFFFF">
                    <font size="2"><b>Localidad:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="2" valign="middle" align="center" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <b><%= account.address.location %></b>
                    </font>
                </td>
                <td colspan="2" valign="middle" align="center" bgcolor="#FFFFFF">
                    <font size="2"><b>Estado:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="2" valign="middle" align="center" bgcolor="#FFFFFF" height="30">
                    <font size="2"><b><%= account.address.extraDetails.state.name %></b></font>
                </td>
                <td valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Municipio:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    colspan="2" valign="middle" align="center" bgcolor="#FFFFFF" height="30">
                    <font size="2"><b><%= account.address.extraDetails.town.name %></b><br></font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Tel&eacute;fono:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    valign="middle" align="center" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <% account.contacts.forEach(function(contact){ %>
                            <% if (contact.contactMeanName === 'fixedPhone') { %>
                                <%= contact.phone %>
                            <% } %>
                        <% }); %>
                    </font>
                </td>
                <td valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><b>Celular:</b></font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    valign="middle" align="center" colspan="2" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <% account.contacts.forEach(function(contact){ %>
                            <% if (contact.contactMeanName === 'mobilePhone') { %>
                                <%= contact.phone %>
                            <% } %>
                        <% }); %>
                    </font>
                </td>
                <td valign="middle" colspan="1" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Latitud:
                    </font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    valign="middle" align="center" colspan="2" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <%= account.address.latitude %>
                    </font>
                </td>
                <td valign="middle" colspan="1" bgcolor="#FFFFFF">
                    <font size="2" style="font-weight: bold">
                        Longitud:
                    </font>
                </td>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000;border-right: 1px solid;border-bottom: 1px solid;border-radius: 5px;"
                    valign="middle" align="center" colspan="2" bgcolor="#FFFFFF" height="30">
                    <font size="2">
                        <%= account.address.longitude %>
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="40" align="center" valign="middle" bgcolor="#FFFFFF"> </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;background: #000000;     color: white;"
                    colspan="11" height="15" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="3">
                            COMENTARIOS DEL CLIENTE
                        </font>
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="11" rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">

                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="border-radius:5px;border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;"
                    colspan="11" rowspan="4" height="60" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><br>
                        <%= odx.comments %>
                    </font>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="/* border-left: 1px solid #000000; *//* border-right: 1px solid #000000; */" colspan="11"
                    rowspan="4" height="40" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="border-left: 1px solid #000000; border-right: 1px solid #000000;background: #000000;     color: white;"
                    colspan="11" height="10" align="center" valign="bottom" bgcolor="#FFFFFF">
                    <b>
                        <font size="3">CONSIDERACIONES GENERALES</font>
                    </b>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="/* border-left: 1px solid #000000; *//* border-right: 1px solid #000000; */" colspan="11"
                    rowspan="4" height="10" align="center" valign="middle" bgcolor="#FFFFFF">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="/* border-top: 1px solid #000000; *//* border-bottom: 1px solid #000000; *//* border-left: 1px solid #000000; *//* border-right: 1px solid #000000 */"
                    colspan="11" rowspan="6" height="109" align="left" valign="top" bgcolor="#FFFFFF"><span
                        style="font-size:9px;">
                        1. El t&eacute;cnico deber&aacute; de ir debidamente identificado como personal de Domain.<br />
                        2. En caso de cancelaci&oacute;n anticipada, se tendr&aacute;n que pagar las mensualidades que falten por
                        transcurrir el plazo forzoso, en caso de que este aplique.<br />
                        3. Para cualquier tema relacionado con su servicio como pudiera ser soporte t&eacute;cnico,
                        facturaci&oacute;n, contrataci&oacute;n de nuevo servicio o modicaci&oacute;n del servicio contratado, con gusto lo
                        atenderemos en el n&uacute;mero 01 800 6000 111.<br />
                        4. Los t&eacute;cnicos instaladores no est&aacute;n facultados para recibir pagos<br />
                        5. *Por telefon&iacute;a ilimitada se entiende minutos de llamadas ilimitados a tel&eacute;fonos locales,
                        nacionales, n&uacute;meros celulares locales y nacionales as&iacute; como ciertas claves lada internacionales.
                        Diversos destinos se encuentran excluidos de este servicio y se cobrar&aacute;n por minuto de llamada,
                        entre los que se encuentran de manera enunciativa mas no limitativa telefonos satelitales. Para
                        cualquier duda respecto de si alg&uacute;n destino internacional esta incluido en su servicio de
                        llamadas, se puede comunicar al 01800 6000 111. o consultar la p&aacute;gina de internet
                        www.domain.com<br>
                        6. En la p&aacute;gina de internet www.domain.com podr&aacute; consultar las politicas de uso aceptable as&iacute;
                        como la carta de derechos minimos de los usuarios de los servicios p&uacute;blicos de
                        telecomunicaciones.<br>
                        *La empresa cubre los gastos de cableado cuando el numero de metros no rebase los 100 *En caso
                        de reposici&oacute;n de equipos la empresa absorbe los gastos siempre y cuando la causa no provenga del
                        uso inadecuado de los mismos. *No podran cambiarse sin costo equipos que hayan sido previamente
                        repuestos.
                    </span></td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
                <td colspan="6" rowspan="3" height="75" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2">
                        <br><br><br><b>
                            ACEPTO LOS TERMINOS Y CONDICIONES
                        </b>
                        <br><b>
                            ESTABLECIDOS EN LA PRESENTE.
                        </b><br>
                        <font size="2" style="font-color: black;">
                            NOMBRE Y FIRMA DEL CLIENTE
                        </font>
                    </font>
                </td>
                <td colspan="5" rowspan="3" height="75" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><br><br><br>
                        <b>COMENTARIOS Y/O RECOMENDACIONES</b>
                        <br><b>
                            DEL T&Eacute;CNICO
                        </b><br>
                        <font size="2" style="
    font-color: black;
">(USO EXCLUSIVO PERSONAL Domain)</font>
                    </font>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>

            <tr>
                <td style="/* border-top: 1px solid #000000; *//* border-bottom: 1px solid #000000; *//* border-left: 1px solid #000000; *//* border-right: 1px solid #000000 */"
                    colspan="11" rowspan="4" height="50" align="center" valign="middle" bgcolor="#FFFFFF">
                    <font size="2"><br></font>
                    <img src="<%= publicPath %>/images/odx/ODT_FOOTER.png" width="945" height="115" hspace="21" vspace="9" style="
    margin-left: 0px;
    margin-top: 0px;
    maargin-bottom: 0px;
">
                </td>
            </tr>
        </tbody>
    </table>
    <!-- ************************************************************************** -->

</body>

</html>